{"swagger":"2.0","info":{"description":"Zoomdata Rest API","version":"application/vnd.zoomdata.v1+json","title":"Zoomdata Rest API","contact":{"name":"support@zoomdata.com"},"license":{"name":" "}},"host":"2-4-latest.zoomdata.com","basePath":"/zoomdata","tags":[{"name":"connections","description":"Manage Connections"},{"name":"groups","description":"Manage Groups"},{"name":"sources","description":"Manage Data Sources"},{"name":"upload","description":"Manage Data Sources Based on Flat Files"},{"name":"connectors","description":"Supported Data Sources"},{"name":"connection-types","description":"Manage Connection Types"},{"name":"oauth2","description":"Manage oauth2 clients"},{"name":"users","description":"Manage Users"},{"name":"accounts","description":"Manage Accounts"},{"name":"filter-sets","description":"Manage Filter Sets"},{"name":"connector-servers","description":"Manage Connector Servers"},{"name":"dashboard","description":"Manage Dashboards"}],"paths":{"/api/accounts":{"get":{"tags":["accounts"],"summary":"Retrieve a list of the accounts in the system","description":"Supported starting from 2.0 version","operationId":"getAccountsUsingGET","consumes":["application/json"],"produces":["application/vnd.zoomdata.v1+json","application/vnd.zoomdata+json"],"parameters":[{"name":"start","in":"query","description":"start","required":false,"type":"integer","format":"int32"},{"name":"limit","in":"query","description":"limit","required":false,"type":"integer","default":25,"format":"int32"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/CollectionResource«System Account»"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}},"post":{"tags":["accounts"],"summary":"Create an account","description":"Supported starting from 2.0 version","operationId":"createUsingPOST","consumes":["application/vnd.zoomdata.v1+json","application/vnd.zoomdata+json"],"produces":["application/vnd.zoomdata.v1+json","application/vnd.zoomdata+json"],"parameters":[{"in":"body","name":"input","description":"input","required":true,"schema":{"$ref":"#/definitions/New System Account"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/System Account"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/accounts/name/{name}":{"get":{"tags":["accounts"],"summary":"Retrieve a specific account by name","description":"Supported starting from 2.0 version","operationId":"getAccountByNameUsingGET","consumes":["application/json"],"produces":["application/vnd.zoomdata.v1+json","application/vnd.zoomdata+json"],"parameters":[{"name":"name","in":"path","description":"name","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/System Account"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/accounts/{accountId}/connections":{"get":{"tags":["connections"],"summary":"Retrieve a list of the connections in an account","description":"Supported starting from 2.0 version","operationId":"getConnectionsUsingGET_1","consumes":["application/vnd.zoomdata.v1_1+json"],"produces":["application/vnd.zoomdata.v1_1+json"],"parameters":[{"name":"accountId","in":"path","description":"accountId","required":true,"type":"string"},{"name":"start","in":"query","description":"start","required":false,"type":"integer","format":"int32"},{"name":"limit","in":"query","description":"limit","required":false,"type":"integer","default":25,"format":"int32"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/CollectionResource«Data Source Connection»"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}},"post":{"tags":["connections"],"summary":"Create a connection in an account","description":"Supported starting from 2.0 version","operationId":"createUsingPOST_2","consumes":["application/vnd.zoomdata.v1_1+json"],"produces":["application/vnd.zoomdata.v1_1+json"],"parameters":[{"name":"accountId","in":"path","description":"accountId","required":true,"type":"string"},{"in":"body","name":"resource","description":"resource","required":true,"schema":{"$ref":"#/definitions/Data Source Connection"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Data Source Connection"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/accounts/{accountId}/connections/name/{name}":{"get":{"tags":["connections"],"summary":"Retrieve a connection by name","description":"Supported starting from 2.0 version","operationId":"getConnectionByNameUsingGET_1","consumes":["application/vnd.zoomdata.v1_1+json"],"produces":["application/vnd.zoomdata.v1_1+json"],"parameters":[{"name":"accountId","in":"path","description":"accountId","required":true,"type":"string"},{"name":"name","in":"path","description":"name","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Data Source Connection"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/accounts/{accountId}/dashboards":{"get":{"tags":["dashboard"],"summary":"Retrieve the dashboards in an account","description":"Supported starting from 2.2 version","operationId":"getAccountDashboardsUsingGET","consumes":["application/json"],"produces":["application/vnd.zoomdata.v1+json","application/vnd.zoomdata+json"],"parameters":[{"name":"accountId","in":"path","description":"accountId","required":true,"type":"string"},{"name":"start","in":"query","description":"start","required":false,"type":"integer","format":"int32"},{"name":"limit","in":"query","description":"limit","required":false,"type":"integer","default":25,"format":"int32"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/CollectionResource«Dashboard»"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/accounts/{accountId}/groups":{"get":{"tags":["groups"],"summary":"Retrieve a list of the groups for an account","description":"Supported starting from 2.0 version","operationId":"getAccountGroupsUsingGET","consumes":["application/json"],"produces":["application/vnd.zoomdata.v1+json","application/vnd.zoomdata+json"],"parameters":[{"name":"accountId","in":"path","description":"accountId","required":true,"type":"string"},{"name":"start","in":"query","description":"start","required":false,"type":"integer","format":"int32"},{"name":"limit","in":"query","description":"limit","required":false,"type":"integer","default":25,"format":"int32"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/CollectionResource«Group»"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}},"post":{"tags":["groups"],"summary":"Create a group in an account","description":"Supported starting from 2.0 version","operationId":"createUsingPOST_4","consumes":["application/vnd.zoomdata.v1+json","application/vnd.zoomdata+json"],"produces":["application/vnd.zoomdata.v1+json","application/vnd.zoomdata+json"],"parameters":[{"name":"accountId","in":"path","description":"accountId","required":true,"type":"string"},{"in":"body","name":"resource","description":"resource","required":true,"schema":{"$ref":"#/definitions/Group"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Group"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/accounts/{accountId}/groups/name/{name}":{"get":{"tags":["groups"],"summary":"Retrieve a group by name","description":"Supported starting from 2.0 version","operationId":"getGroupByNameUsingGET","consumes":["application/json"],"produces":["application/vnd.zoomdata.v1+json","application/vnd.zoomdata+json"],"parameters":[{"name":"accountId","in":"path","description":"accountId","required":true,"type":"string"},{"name":"name","in":"path","description":"name","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Group"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/accounts/{accountId}/sources":{"get":{"tags":["sources"],"summary":"Retrieve the data sources for an account","description":"Supported starting from 2.0 version","operationId":"getAccountSourcesUsingGET_1","consumes":["application/vnd.zoomdata.v1_1+json"],"produces":["application/vnd.zoomdata.v1_1+json"],"parameters":[{"name":"accountId","in":"path","description":"accountId","required":true,"type":"string"},{"name":"start","in":"query","description":"start","required":false,"type":"integer","format":"int32"},{"name":"limit","in":"query","description":"limit","required":false,"type":"integer","default":25,"format":"int32"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/CollectionResource«Data Source»"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/accounts/{accountId}/sources/file":{"post":{"tags":["upload"],"summary":"Create a source from a flat file","description":"Supported starting from 2.2 version","operationId":"createUsingPOST_8","consumes":["application/vnd.zoomdata.v1+json","application/vnd.zoomdata+json"],"produces":["application/vnd.zoomdata.v1+json","application/vnd.zoomdata+json"],"parameters":[{"name":"accountId","in":"path","description":"accountId","required":true,"type":"string"},{"in":"body","name":"resource","description":"resource","required":true,"schema":{"$ref":"#/definitions/Data Source"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Data Source"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/accounts/{accountId}/sources/name/{name}":{"get":{"tags":["sources"],"summary":"Retrieve a data source by name","description":"Supported starting from 2.0 version","operationId":"getSourceByNameUsingGET_1","consumes":["application/vnd.zoomdata.v1_1+json"],"produces":["application/vnd.zoomdata.v1_1+json"],"parameters":[{"name":"accountId","in":"path","description":"accountId","required":true,"type":"string"},{"name":"name","in":"path","description":"name","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Data Source"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/accounts/{accountId}/users":{"get":{"tags":["users"],"summary":"Retrieve the users for an account","description":"Supported starting from 2.0 version","operationId":"getAccountUsersUsingGET","consumes":["application/json"],"produces":["application/vnd.zoomdata.v1+json","application/vnd.zoomdata+json"],"parameters":[{"name":"accountId","in":"path","description":"accountId","required":true,"type":"string"},{"name":"start","in":"query","description":"start","required":false,"type":"integer","format":"int32"},{"name":"limit","in":"query","description":"limit","required":false,"type":"integer","default":25,"format":"int32"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/CollectionResource«System User»"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}},"post":{"tags":["users"],"summary":"Create a user in an account","description":"Supported starting from 2.0 version","operationId":"createUsingPOST_9","consumes":["application/vnd.zoomdata.v1+json","application/vnd.zoomdata+json"],"produces":["application/vnd.zoomdata.v1+json","application/vnd.zoomdata+json"],"parameters":[{"name":"accountId","in":"path","description":"accountId","required":true,"type":"string"},{"in":"body","name":"resource","description":"resource","required":true,"schema":{"$ref":"#/definitions/System User"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/System User"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}},"put":{"tags":["accounts"],"summary":"Add an existing user to an account","description":"Supported starting from 2.2 version","operationId":"updateUserAccountsUsingPUT","consumes":["application/vnd.zoomdata.v1+json","application/vnd.zoomdata+json"],"produces":["application/vnd.zoomdata.v1+json","application/vnd.zoomdata+json"],"parameters":[{"name":"accountId","in":"path","description":"accountId","required":true,"type":"string"},{"in":"body","name":"resource","description":"resource","required":true,"schema":{"$ref":"#/definitions/User configuration within each account"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/User configuration within each account"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/accounts/{accountId}/users/{id}":{"delete":{"tags":["accounts"],"summary":"Remove a user from an account w/o deleting the user","description":"Supported starting from 2.2 version","operationId":"removeUserFromAccountUsingDELETE","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"accountId","in":"path","description":"accountId","required":true,"type":"string"},{"name":"id","in":"path","description":"id","required":true,"type":"string"}],"responses":{"200":{"description":"OK"},"401":{"description":"Unauthorized"},"204":{"description":"No Content"},"403":{"description":"Forbidden"}}}},"/api/accounts/{accountId}/users/{userId}":{"get":{"tags":["users"],"summary":"Retrieve a users membership information to a specific account","description":"Supported starting from 2.2 version","operationId":"getUserAccountUsingGET","consumes":["application/json"],"produces":["application/vnd.zoomdata.v1+json","application/vnd.zoomdata+json"],"parameters":[{"name":"userId","in":"path","description":"userId","required":true,"type":"string"},{"name":"accountId","in":"path","description":"accountId","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/User configuration within each account"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}},"patch":{"tags":["users"],"summary":"Update the currently logged in current account ID and re-authenticate","description":"Supported starting from 2.2 version","operationId":"changeCurrentAccountUsingPATCH","consumes":["application/vnd.zoomdata.v1+json","application/vnd.zoomdata+json"],"produces":["*/*"],"parameters":[{"name":"accountId","in":"path","description":"accountId","required":true,"type":"string"},{"name":"userId","in":"path","description":"userId","required":true,"type":"string"}],"responses":{"200":{"description":"OK"},"401":{"description":"Unauthorized"},"204":{"description":"No Content"},"403":{"description":"Forbidden"}}}},"/api/accounts/{id}":{"get":{"tags":["accounts"],"summary":"Retrieve a specific account by ID","description":"Supported starting from 2.0 version","operationId":"getAccountUsingGET","consumes":["application/json"],"produces":["application/vnd.zoomdata.v1+json","application/vnd.zoomdata+json"],"parameters":[{"name":"id","in":"path","description":"id","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/System Account"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}},"put":{"tags":["accounts"],"summary":"Update an account by ID","description":"Supported starting from 2.0 version","operationId":"updateUsingPUT","consumes":["application/vnd.zoomdata.v1+json","application/vnd.zoomdata+json"],"produces":["application/vnd.zoomdata.v1+json","application/vnd.zoomdata+json"],"parameters":[{"name":"id","in":"path","description":"id","required":true,"type":"string"},{"in":"body","name":"input","description":"input","required":true,"schema":{"$ref":"#/definitions/System Account"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/System Account"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}},"delete":{"tags":["accounts"],"summary":"Delete an account by ID","description":"Supported starting from 2.0 version","operationId":"deleteUsingDELETE","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"id","in":"path","description":"id","required":true,"type":"string"}],"responses":{"200":{"description":"OK"},"401":{"description":"Unauthorized"},"204":{"description":"No Content"},"403":{"description":"Forbidden"}}}},"/api/accounts/{id}/filter-sets":{"get":{"tags":["filter-sets"],"summary":"Retrieve the filter sets in an account","description":"Supported starting from 2.2 version","operationId":"getAccountFilterSetsUsingGET","consumes":["application/json"],"produces":["application/vnd.zoomdata.v1+json","application/vnd.zoomdata+json"],"parameters":[{"name":"id","in":"path","description":"id","required":true,"type":"string"},{"name":"start","in":"query","description":"start","required":false,"type":"integer","format":"int32"},{"name":"limit","in":"query","description":"limit","required":false,"type":"integer","default":25,"format":"int32"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/CollectionResource«Attribute Filter Set»"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/connection-types":{"get":{"tags":["connection-types"],"summary":"List all connection types","description":"Supported starting from 2.4 version","operationId":"loadConnectionTypesUsingGET","consumes":["application/json"],"produces":["application/vnd.zoomdata.v1_1+json"],"parameters":[{"name":"name","in":"query","description":"name","required":false,"type":"string"},{"name":"enabled","in":"query","description":"enabled","required":false,"type":"boolean","default":false},{"name":"type","in":"query","description":"type","required":false,"type":"string"},{"name":"start","in":"query","description":"start","required":false,"type":"integer","format":"int32"},{"name":"limit","in":"query","description":"limit","required":false,"type":"integer","default":25,"format":"int32"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/CollectionResource«Connection Type»"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/connection-types/{id}":{"get":{"tags":["connection-types"],"summary":"Retrieve connection type by ID","description":"Supported starting from 2.4 version","operationId":"getConnectionTypeUsingGET","consumes":["application/json"],"produces":["application/vnd.zoomdata.v1_1+json"],"parameters":[{"name":"id","in":"path","description":"id","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Connection Type"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}},"put":{"tags":["connection-types"],"summary":"Update a connection type  by ID","description":"Supported starting from 2.4 version","operationId":"updateConnectionTypeUsingPUT","consumes":["application/vnd.zoomdata.v1_1+json","application/vnd.zoomdata+json"],"produces":["application/vnd.zoomdata.v1_1+json"],"parameters":[{"name":"id","in":"path","description":"id","required":true,"type":"string"},{"in":"body","name":"resource","description":"resource","required":true,"schema":{"$ref":"#/definitions/Connection Type"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Connection Type"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}},"delete":{"tags":["connection-types"],"summary":"Delete a connection type by ID","description":"Supported starting from 2.4 version","operationId":"deleteConnectionTypeUsingDELETE","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"id","in":"path","description":"id","required":true,"type":"string"}],"responses":{"200":{"description":"OK"},"401":{"description":"Unauthorized"},"204":{"description":"No Content"},"403":{"description":"Forbidden"}}}},"/api/connection-types/{id}/icon":{"get":{"tags":["connection-types"],"summary":"Retrieve icon for specific connection type","description":"Supported starting from 2.4 version","operationId":"getConnectionTypeIconUsingGET","consumes":["application/json"],"produces":["image/png","image/svg"],"parameters":[{"name":"id","in":"path","description":"id","required":true,"type":"string"}],"responses":{"200":{"description":"OK"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}},"put":{"tags":["connection-types"],"summary":"Upload icon for specific connection type","description":"Supported starting from 2.4 version","operationId":"uploadConnectionTypeIconUsingPUT","consumes":["multipart/form-data"],"produces":["*/*"],"parameters":[{"name":"id","in":"path","description":"id","required":true,"type":"string"},{"name":"icon","in":"formData","description":"icon","required":true,"type":"string"}],"responses":{"200":{"description":"OK"},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}},"delete":{"tags":["connection-types"],"summary":"Delete icon for specific connection type","description":"Supported starting from 2.4 version","operationId":"deleteConnectionTypeIconUsingDELETE","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"id","in":"path","description":"id","required":true,"type":"string"}],"responses":{"200":{"description":"OK"},"401":{"description":"Unauthorized"},"204":{"description":"No Content"},"403":{"description":"Forbidden"}}}},"/api/connections/{connectionId}/sources":{"get":{"tags":["sources"],"summary":"Retrieve the data sources for a connection","description":"Supported starting from 2.0 version","operationId":"getConnectionSourcesUsingGET_1","consumes":["application/vnd.zoomdata.v1_1+json"],"produces":["application/vnd.zoomdata.v1_1+json"],"parameters":[{"name":"connectionId","in":"path","description":"connectionId","required":true,"type":"string"},{"name":"start","in":"query","description":"start","required":false,"type":"integer","format":"int32"},{"name":"limit","in":"query","description":"limit","required":false,"type":"integer","default":25,"format":"int32"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/CollectionResource«Data Source»"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}},"post":{"tags":["sources"],"summary":"Create a data source on a connection","description":"Supported starting from 2.0 version","operationId":"createUsingPOST_7","consumes":["application/vnd.zoomdata.v1_1+json"],"produces":["application/vnd.zoomdata.v1_1+json"],"parameters":[{"name":"connectionId","in":"path","description":"connectionId","required":true,"type":"string"},{"in":"body","name":"resource","description":"resource","required":true,"schema":{"$ref":"#/definitions/Data Source"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Data Source"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/connections/{id}":{"get":{"tags":["connections"],"summary":"Retrieve a connection by ID","description":"Supported starting from 2.0 version","operationId":"getConnectionUsingGET_1","consumes":["application/vnd.zoomdata.v1_1+json"],"produces":["application/vnd.zoomdata.v1_1+json"],"parameters":[{"name":"id","in":"path","description":"id","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Data Source Connection"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}},"put":{"tags":["connections"],"summary":"Update a connection by ID","description":"Supported starting from 2.0 version","operationId":"updateConnectionUsingPUT_1","consumes":["application/vnd.zoomdata.v1_1+json"],"produces":["application/vnd.zoomdata.v1_1+json"],"parameters":[{"name":"id","in":"path","description":"id","required":true,"type":"string"},{"in":"body","name":"resource","description":"resource","required":true,"schema":{"$ref":"#/definitions/Data Source Connection"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Data Source Connection"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}},"delete":{"tags":["connections"],"summary":"Delete a connection by ID","description":"Supported starting from 2.0 version","operationId":"deleteConnectionUsingDELETE_1","consumes":["application/vnd.zoomdata.v1_1+json"],"produces":["*/*"],"parameters":[{"name":"id","in":"path","description":"id","required":true,"type":"string"}],"responses":{"200":{"description":"OK"},"401":{"description":"Unauthorized"},"204":{"description":"No Content"},"403":{"description":"Forbidden"}}}},"/api/connections/{id}/objects":{"get":{"tags":["connections"],"summary":"List the available objects in this connection","description":"Objects are the tables, views, collections, etc, available in this specific connection. Supported starting from 2.0 version","operationId":"getObjectsUsingGET_1","consumes":["application/vnd.zoomdata.v1_1+json"],"produces":["application/vnd.zoomdata.v1_1+json"],"parameters":[{"name":"id","in":"path","description":"id","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/Connection Object"}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/connector-servers":{"get":{"tags":["connector-servers"],"summary":"List servers","description":"Supported starting from 2.4 version","operationId":"loadConnectorsUsingGET","consumes":["application/json"],"produces":["application/vnd.zoomdata.v1_1+json"],"parameters":[{"name":"name","in":"query","description":"name","required":false,"type":"string"},{"name":"start","in":"query","description":"start","required":false,"type":"integer","format":"int32"},{"name":"limit","in":"query","description":"limit","required":false,"type":"integer","default":25,"format":"int32"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/CollectionResource«EDC Connector Server»"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}},"post":{"tags":["connector-servers"],"summary":"Create connector","description":"Supported starting from 2.4 version","operationId":"createConnectorUsingPOST","consumes":["application/vnd.zoomdata.v1_1+json","application/vnd.zoomdata+json"],"produces":["application/vnd.zoomdata.v1_1+json"],"parameters":[{"in":"body","name":"resource","description":"resource","required":true,"schema":{"$ref":"#/definitions/EDC Connector Server"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/EDC Connector Server"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/connector-servers/{id}":{"get":{"tags":["connector-servers"],"summary":"Retrieve connector server by ID","description":"Supported starting from 2.4 version","operationId":"getConnectorUsingGET","consumes":["application/json"],"produces":["application/vnd.zoomdata.v1_1+json"],"parameters":[{"name":"id","in":"path","description":"id","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/EDC Connector Server"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}},"put":{"tags":["connector-servers"],"summary":"Update a connector  by ID","description":"Supported starting from 2.4 version","operationId":"updateConnectorUsingPUT","consumes":["application/vnd.zoomdata.v1_1+json","application/vnd.zoomdata+json"],"produces":["application/vnd.zoomdata.v1_1+json"],"parameters":[{"name":"id","in":"path","description":"id","required":true,"type":"string"},{"in":"body","name":"resource","description":"resource","required":true,"schema":{"$ref":"#/definitions/EDC Connector Server"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/EDC Connector Server"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}},"delete":{"tags":["connector-servers"],"summary":"Delete a connector by ID","description":"Supported starting from 2.4 version","operationId":"deleteConnectorUsingDELETE","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"id","in":"path","description":"id","required":true,"type":"string"}],"responses":{"200":{"description":"OK"},"401":{"description":"Unauthorized"},"204":{"description":"No Content"},"403":{"description":"Forbidden"}}}},"/api/connector-servers/{id}/connection-types":{"get":{"tags":["connection-types"],"summary":"List all connection types for specific edc server","description":"Supported starting from 2.4 version","operationId":"loadConnectionTypesForConnectorUsingGET","consumes":["application/json"],"produces":["application/vnd.zoomdata.v1_1+json"],"parameters":[{"name":"id","in":"path","description":"id","required":true,"type":"string"},{"name":"start","in":"query","description":"start","required":false,"type":"integer","format":"int32"},{"name":"limit","in":"query","description":"limit","required":false,"type":"integer","default":25,"format":"int32"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/CollectionResource«Connection Type»"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}},"post":{"tags":["connection-types"],"summary":"Create  connectionType","description":"Supported starting from 2.4 version","operationId":"createConnectionTypeResourceUsingPOST","consumes":["application/vnd.zoomdata.v1_1+json","application/vnd.zoomdata+json"],"produces":["application/vnd.zoomdata.v1_1+json"],"parameters":[{"name":"id","in":"path","description":"id","required":true,"type":"string"},{"in":"body","name":"resource","description":"resource","required":true,"schema":{"$ref":"#/definitions/Connection Type"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Connection Type"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/connector-servers/{id}/status":{"get":{"tags":["connector-servers"],"summary":"Retrieve status of connector server by ID","description":"Supported starting from 2.4 version","operationId":"getConnectorStatusUsingGET","consumes":["application/json"],"produces":["application/vnd.zoomdata.v1_1+json"],"parameters":[{"name":"id","in":"path","description":"id","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Status of EDC Connector Server"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/connectors":{"get":{"tags":["connectors"],"summary":"List the connectors available through the API","description":"Supported starting from 2.0 version","operationId":"getConnectorsUsingGET_1","consumes":["application/vnd.zoomdata.v1_1+json"],"produces":["application/vnd.zoomdata.v1+json","application/vnd.zoomdata.v1_1+json","application/vnd.zoomdata+json"],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/Data Source Connector"}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/dashboards/{id}":{"get":{"tags":["dashboard"],"summary":"Retrieve a dashboard by ID","description":"Supported starting from 2.2 version","operationId":"getDashboardUsingGET","consumes":["application/json"],"produces":["application/vnd.zoomdata.v1+json","application/vnd.zoomdata+json"],"parameters":[{"name":"id","in":"path","description":"id","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Dashboard"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}},"put":{"tags":["dashboard"],"summary":"Update a dashboard by ID","description":"Supported starting from 2.2 version","operationId":"updateDashboardUsingPUT","consumes":["application/vnd.zoomdata.v1+json","application/vnd.zoomdata+json"],"produces":["application/vnd.zoomdata.v1+json","application/vnd.zoomdata+json"],"parameters":[{"name":"id","in":"path","description":"id","required":true,"type":"string"},{"in":"body","name":"resource","description":"resource","required":true,"schema":{"$ref":"#/definitions/Dashboard"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Dashboard"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}},"delete":{"tags":["dashboard"],"summary":"Delete a dashboard by ID","description":"Supported starting from 2.2 version","operationId":"deleteUsingDELETE_1","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"id","in":"path","description":"id","required":true,"type":"string"}],"responses":{"200":{"description":"OK"},"401":{"description":"Unauthorized"},"204":{"description":"No Content"},"403":{"description":"Forbidden"}}}},"/api/dashboards/{id}/screenshot":{"get":{"tags":["dashboard"],"summary":"Retrieve the screenshot image of a dashboard","description":"Supported starting from 2.2 version","operationId":"getDashboardScreenshotUsingGET","consumes":["application/json"],"produces":["img/vnd.zoomdata+png","img/vnd.zoomdata.v1+png"],"parameters":[{"name":"id","in":"path","description":"id","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"type":"string","format":"byte"}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/filter-sets/{id}":{"get":{"tags":["filter-sets"],"summary":"Retrieve a filter set by ID","description":"Supported starting from 2.2 version","operationId":"getFilterSetUsingGET","consumes":["application/json"],"produces":["application/vnd.zoomdata.v1+json","application/vnd.zoomdata+json"],"parameters":[{"name":"id","in":"path","description":"id","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Attribute Filter Set"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}},"put":{"tags":["filter-sets"],"summary":"Update a filter set by ID","description":"Supported starting from 2.2 version","operationId":"updateUsingPUT_1","consumes":["application/vnd.zoomdata.v1+json","application/vnd.zoomdata+json"],"produces":["application/vnd.zoomdata.v1+json","application/vnd.zoomdata+json"],"parameters":[{"name":"id","in":"path","description":"id","required":true,"type":"string"},{"in":"body","name":"resource","description":"resource","required":true,"schema":{"$ref":"#/definitions/Attribute Filter Set"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Attribute Filter Set"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}},"delete":{"tags":["filter-sets"],"summary":"Delete a filter set by ID","description":"Supported starting from 2.2 version","operationId":"deleteUsingDELETE_2","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"id","in":"path","description":"id","required":true,"type":"string"}],"responses":{"200":{"description":"OK"},"401":{"description":"Unauthorized"},"204":{"description":"No Content"},"403":{"description":"Forbidden"}}}},"/api/groups/{groupId}/members/{userId}":{"get":{"tags":["groups"],"summary":"Retrieve a member of a group","description":"Supported starting from 2.0 version","operationId":"getMemberUsingGET","consumes":["application/json"],"produces":["application/vnd.zoomdata.v1+json","application/vnd.zoomdata+json"],"parameters":[{"name":"groupId","in":"path","description":"groupId","required":true,"type":"string"},{"name":"userId","in":"path","description":"userId","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Group Member"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}},"delete":{"tags":["groups"],"summary":"Remove a member from a group","description":"Supported starting from 2.0 version","operationId":"deleteMemberUsingDELETE","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"groupId","in":"path","description":"groupId","required":true,"type":"string"},{"name":"userId","in":"path","description":"userId","required":true,"type":"string"}],"responses":{"200":{"description":"OK"},"401":{"description":"Unauthorized"},"204":{"description":"No Content"},"403":{"description":"Forbidden"}}}},"/api/groups/{groupId}/sources":{"put":{"tags":["groups"],"summary":"Set group permissions for a data source","description":"The name of the source may be specified as the reference value.Supported starting from 2.0 version","operationId":"mapSourceUsingPUT","consumes":["application/vnd.zoomdata.v1+json","application/vnd.zoomdata+json"],"produces":["application/vnd.zoomdata.v1+json","application/vnd.zoomdata+json"],"parameters":[{"name":"groupId","in":"path","description":"groupId","required":true,"type":"string"},{"in":"body","name":"request","description":"request","required":true,"schema":{"$ref":"#/definitions/A request to add a group to a datasource"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Data source configuration for a group"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/groups/{groupId}/sources/{sourceId}":{"get":{"tags":["groups"],"summary":"Retrieve information about a group's access to a source","description":"Supported starting from 2.0 version","operationId":"getSourceUsingGET","consumes":["application/json"],"produces":["application/vnd.zoomdata.v1+json","application/vnd.zoomdata+json"],"parameters":[{"name":"groupId","in":"path","description":"groupId","required":true,"type":"string"},{"name":"sourceId","in":"path","description":"sourceId","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Data source configuration for a group"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}},"delete":{"tags":["groups"],"summary":"Remove a group's access to a source","description":"Supported starting from 2.0 version","operationId":"deleteSourceUsingDELETE","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"groupId","in":"path","description":"groupId","required":true,"type":"string"},{"name":"sourceId","in":"path","description":"sourceId","required":true,"type":"string"}],"responses":{"200":{"description":"OK"},"401":{"description":"Unauthorized"},"204":{"description":"No Content"},"403":{"description":"Forbidden"}}}},"/api/groups/{id}":{"get":{"tags":["groups"],"summary":"Retrieve a group","description":"Supported starting from 2.0 version","operationId":"getGroupUsingGET","consumes":["application/json"],"produces":["application/vnd.zoomdata.v1+json","application/vnd.zoomdata+json"],"parameters":[{"name":"id","in":"path","description":"id","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Group"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}},"put":{"tags":["groups"],"summary":"Update a group","description":"Supported starting from 2.0 version","operationId":"updateUsingPUT_2","consumes":["application/vnd.zoomdata.v1+json","application/vnd.zoomdata+json"],"produces":["application/vnd.zoomdata.v1+json","application/vnd.zoomdata+json"],"parameters":[{"name":"id","in":"path","description":"id","required":true,"type":"string"},{"in":"body","name":"resource","description":"resource","required":true,"schema":{"$ref":"#/definitions/Group"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Group"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}},"delete":{"tags":["groups"],"summary":"Delete a group","description":"Supported starting from 2.0 version","operationId":"deleteUsingDELETE_3","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"id","in":"path","description":"id","required":true,"type":"string"}],"responses":{"200":{"description":"OK"},"401":{"description":"Unauthorized"},"204":{"description":"No Content"},"403":{"description":"Forbidden"}}}},"/api/groups/{id}/members":{"get":{"tags":["groups"],"summary":"Retrieve a list of the members of a group","description":"Supported starting from 2.0 version","operationId":"getMembersUsingGET","consumes":["application/json"],"produces":["application/vnd.zoomdata.v1+json","application/vnd.zoomdata+json"],"parameters":[{"name":"id","in":"path","description":"id","required":true,"type":"string"},{"name":"start","in":"query","description":"start","required":false,"type":"integer","format":"int32"},{"name":"limit","in":"query","description":"limit","required":false,"type":"integer","default":25,"format":"int32"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/CollectionResource«Group Member»"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}},"post":{"tags":["groups"],"summary":"Add a user to the group","description":"The username of the user may be specified as the reference value. Supported starting from 2.0 version","operationId":"addMemberUsingPOST","consumes":["application/vnd.zoomdata.v1+json","application/vnd.zoomdata+json"],"produces":["application/vnd.zoomdata.v1+json","application/vnd.zoomdata+json"],"parameters":[{"name":"id","in":"path","description":"id","required":true,"type":"string"},{"in":"body","name":"reference","description":"reference","required":true,"schema":{"$ref":"#/definitions/A reference to another resource in the system."}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Group Member"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/groups/{id}/sources":{"get":{"tags":["groups"],"summary":"Retrieve the data sources for a group","description":"Supported starting from 2.0 version","operationId":"getSourcesUsingGET","consumes":["application/json"],"produces":["application/vnd.zoomdata.v1+json","application/vnd.zoomdata+json"],"parameters":[{"name":"id","in":"path","description":"id","required":true,"type":"string"},{"name":"start","in":"query","description":"start","required":false,"type":"integer","format":"int32"},{"name":"limit","in":"query","description":"limit","required":false,"type":"integer","default":25,"format":"int32"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/CollectionResource«Data source configuration for a group»"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/oauth2/client":{"get":{"tags":["oauth2"],"summary":"Load all","description":"Supported starting from 2.2 version","operationId":"findAllUsingGET","consumes":["application/json"],"produces":["application/vnd.zoomdata.v1+json","application/vnd.zoomdata+json"],"parameters":[{"name":"start","in":"query","description":"start","required":false,"type":"integer","format":"int32"},{"name":"limit","in":"query","description":"limit","required":false,"type":"integer","default":25,"format":"int32"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/CollectionResource«OAuth2 client application record»"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}},"post":{"tags":["oauth2"],"summary":"Create ClientId","description":"Supported starting from 2.2 version","operationId":"createUsingPOST_5","consumes":["application/vnd.zoomdata.v1+json","application/vnd.zoomdata+json"],"produces":["application/vnd.zoomdata.v1+json","application/vnd.zoomdata+json"],"parameters":[{"in":"body","name":"client","description":"client","required":true,"schema":{"$ref":"#/definitions/OAuth2 client application record"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/OAuth2 client application record"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/oauth2/client/{clientId}":{"get":{"tags":["oauth2"],"summary":"Load ClientId","description":"Supported starting from 2.2 version","operationId":"loadUsingGET","consumes":["application/json"],"produces":["application/vnd.zoomdata.v1+json","application/vnd.zoomdata+json"],"parameters":[{"name":"clientId","in":"path","description":"clientId","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/OAuth2 client application record"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}},"put":{"tags":["oauth2"],"summary":"Update ClientId","description":"Supported starting from 2.2 version","operationId":"updateUsingPUT_3","consumes":["application/vnd.zoomdata.v1+json","application/vnd.zoomdata+json"],"produces":["*/*"],"parameters":[{"name":"clientId","in":"path","description":"clientId","required":true,"type":"string"},{"in":"body","name":"client","description":"client","required":true,"schema":{"$ref":"#/definitions/OAuth2 client application record"}}],"responses":{"200":{"description":"OK"},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}},"delete":{"tags":["oauth2"],"summary":"Delete ClientId","description":"Supported starting from 2.2 version","operationId":"deleteUsingDELETE_4","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"clientId","in":"path","description":"clientId","required":true,"type":"string"}],"responses":{"200":{"description":"OK"},"401":{"description":"Unauthorized"},"204":{"description":"No Content"},"403":{"description":"Forbidden"}}}},"/api/oauth2/token/revoke":{"delete":{"tags":["oauth2"],"summary":"Revoke token in the current request","operationId":"revokeUsingDELETE","consumes":["application/json"],"produces":["*/*"],"responses":{"200":{"description":"OK"},"401":{"description":"Unauthorized"},"204":{"description":"No Content"},"403":{"description":"Forbidden"}}}},"/api/oauth2/token/user/{username}":{"get":{"tags":["oauth2"],"summary":"Find all tokens for user","description":"Supported starting from 2.2 version","operationId":"findByUsernameUsingGET","consumes":["application/json"],"produces":["application/vnd.zoomdata.v1+json","application/vnd.zoomdata+json"],"parameters":[{"name":"username","in":"path","description":"username","required":true,"type":"string"},{"name":"start","in":"query","description":"start","required":false,"type":"integer","format":"int32"},{"name":"limit","in":"query","description":"limit","required":false,"type":"integer","default":25,"format":"int32"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/CollectionResource«OAuth2 token»"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}},"delete":{"tags":["oauth2"],"summary":"Remove all tokens for user","description":"Supported starting from 2.2 version","operationId":"deleteByUsernameUsingDELETE","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"username","in":"path","description":"username","required":true,"type":"string"}],"responses":{"200":{"description":"OK"},"401":{"description":"Unauthorized"},"204":{"description":"No Content"},"403":{"description":"Forbidden"}}}},"/api/oauth2/token/{tokenValue}":{"get":{"tags":["oauth2"],"summary":"Load token by its id","description":"Supported starting from 2.2 version","operationId":"loadUsingGET_1","consumes":["application/json"],"produces":["application/vnd.zoomdata.v1+json","application/vnd.zoomdata+json"],"parameters":[{"name":"tokenValue","in":"path","description":"tokenValue","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/OAuth2 token"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}},"delete":{"tags":["oauth2"],"summary":"Remove specific token","description":"Supported starting from 2.2 version","operationId":"deleteUsingDELETE_5","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"tokenValue","in":"path","description":"tokenValue","required":true,"type":"string"}],"responses":{"200":{"description":"OK"},"401":{"description":"Unauthorized"},"204":{"description":"No Content"},"403":{"description":"Forbidden"}}}},"/api/sources/{id}":{"get":{"tags":["sources"],"summary":"Retrieve a data source","description":"Supported starting from 2.0 version","operationId":"getSourceUsingGET_2","consumes":["application/vnd.zoomdata.v1_1+json"],"produces":["application/vnd.zoomdata.v1_1+json"],"parameters":[{"name":"id","in":"path","description":"id","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Data Source"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}},"put":{"tags":["sources"],"summary":"Update a data source","description":"Supported starting from 2.0 version","operationId":"updateUsingPUT_5","consumes":["application/vnd.zoomdata.v1_1+json"],"produces":["application/vnd.zoomdata.v1_1+json"],"parameters":[{"name":"id","in":"path","description":"id","required":true,"type":"string"},{"in":"body","name":"resource","description":"resource","required":true,"schema":{"$ref":"#/definitions/Data Source"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Data Source"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}},"delete":{"tags":["sources"],"summary":"Delete a data source","description":"Supported starting from 2.0 version","operationId":"deleteUsingDELETE_7","consumes":["application/vnd.zoomdata.v1_1+json"],"produces":["*/*"],"parameters":[{"name":"id","in":"path","description":"id","required":true,"type":"string"}],"responses":{"200":{"description":"OK"},"401":{"description":"Unauthorized"},"204":{"description":"No Content"},"403":{"description":"Forbidden"}}}},"/api/sources/{id}/data":{"put":{"tags":["upload"],"summary":"Upload data to create a source","description":"Supported starting from 2.2 version","operationId":"addDataUsingPUT","consumes":["application/vnd.zoomdata.v1+json","application/vnd.zoomdata+json"],"produces":["*/*"],"parameters":[{"name":"id","in":"path","description":"id","required":true,"type":"string"},{"name":"contentType","in":"query","description":"contentType","required":true,"type":"string","enum":["text/tab-separated-values","text/csv","text/xml","application/json"]},{"name":"separator","in":"query","description":"separator","required":false,"type":"string"},{"name":"includesHeader","in":"query","description":"includesHeader","required":false,"type":"boolean"},{"name":"includesNewFields","in":"query","description":"includesNewFields","required":false,"type":"boolean","default":false},{"in":"body","name":"body","description":"body","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK"},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}},"delete":{"tags":["upload"],"summary":"Clear the stored data for a flat-file source","description":"Supported starting from 2.2 version","operationId":"clearDataUsingDELETE","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"id","in":"path","description":"id","required":true,"type":"string"}],"responses":{"200":{"description":"OK"},"401":{"description":"Unauthorized"},"204":{"description":"No Content"},"403":{"description":"Forbidden"}}}},"/api/sources/{id}/fields":{"get":{"tags":["sources"],"summary":"Retrieve the fields of a data source","description":"Supported starting from 2.0 version","operationId":"getFieldsUsingGET_1","consumes":["application/vnd.zoomdata.v1_1+json"],"produces":["application/vnd.zoomdata.v1_1+json"],"parameters":[{"name":"id","in":"path","description":"id","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/An individual field in a data source"}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}},"put":{"tags":["sources"],"summary":"Update the fields of a data source","description":"Supported starting from 2.0 version","operationId":"updateFieldsUsingPUT_1","consumes":["application/vnd.zoomdata.v1_1+json"],"produces":["application/vnd.zoomdata.v1_1+json"],"parameters":[{"name":"id","in":"path","description":"id","required":true,"type":"string"},{"in":"body","name":"updatedFields","description":"updatedFields","required":true,"schema":{"type":"array","items":{"$ref":"#/definitions/An individual field in a data source"}}}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/An individual field in a data source"}}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/sources/{id}/filter-sets":{"get":{"tags":["filter-sets"],"summary":"Retrieve the filter sets for a source","description":"Supported starting from 2.2 version","operationId":"getSourceFilterSetsUsingGET","consumes":["application/json"],"produces":["application/vnd.zoomdata.v1+json","application/vnd.zoomdata+json"],"parameters":[{"name":"id","in":"path","description":"id","required":true,"type":"string"},{"name":"start","in":"query","description":"start","required":false,"type":"integer","format":"int32"},{"name":"limit","in":"query","description":"limit","required":false,"type":"integer","default":25,"format":"int32"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/CollectionResource«Attribute Filter Set»"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}},"post":{"tags":["filter-sets"],"summary":"Create a filter set","description":"Supported starting from 2.2 version","operationId":"createUsingPOST_3","consumes":["application/vnd.zoomdata.v1+json","application/vnd.zoomdata+json"],"produces":["application/vnd.zoomdata.v1+json","application/vnd.zoomdata+json"],"parameters":[{"name":"id","in":"path","description":"id","required":true,"type":"string"},{"in":"body","name":"resource","description":"resource","required":true,"schema":{"$ref":"#/definitions/Attribute Filter Set"}},{"in":"body","name":"userDetails","description":"userDetails","required":false,"schema":{"$ref":"#/definitions/UserDetails"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Attribute Filter Set"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/sources/{id}/timecontrol":{"get":{"tags":["sources"],"summary":"Retrieve time control config for the given source","operationId":"getTimeControlUsingGET_1","consumes":["application/vnd.zoomdata.v1_1+json"],"produces":["application/vnd.zoomdata.v1_1+json"],"parameters":[{"name":"id","in":"path","description":"id","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Time Control Configuration"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}},"put":{"tags":["sources"],"summary":"Update time control config for the given source","operationId":"updateTimeControlUsingPUT_1","consumes":["application/vnd.zoomdata.v1_1+json"],"produces":["application/vnd.zoomdata.v1_1+json"],"parameters":[{"name":"id","in":"path","description":"id","required":true,"type":"string"},{"in":"body","name":"resource","description":"resource","required":true,"schema":{"$ref":"#/definitions/Time Control Configuration"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Time Control Configuration"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/sources/{sourceId}/dashboards":{"get":{"tags":["dashboard"],"summary":"Retrieve the dashboards that contain the given source","description":"Supported starting from 2.2 version","operationId":"getSourceDashboardsUsingGET","consumes":["application/json"],"produces":["application/vnd.zoomdata.v1+json","application/vnd.zoomdata.v1_1+json","application/vnd.zoomdata+json"],"parameters":[{"name":"sourceId","in":"path","description":"sourceId","required":true,"type":"string"},{"name":"start","in":"query","description":"start","required":false,"type":"integer","format":"int32"},{"name":"limit","in":"query","description":"limit","required":false,"type":"integer","default":25,"format":"int32"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/CollectionResource«Dashboard»"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/users":{"get":{"tags":["users"],"summary":"Retrieve all users in the system","description":"Supported starting from 2.0 version","operationId":"getUsersUsingGET","consumes":["application/json"],"produces":["application/vnd.zoomdata.v1+json","application/vnd.zoomdata+json"],"parameters":[{"name":"start","in":"query","description":"start","required":false,"type":"integer","format":"int32"},{"name":"limit","in":"query","description":"limit","required":false,"type":"integer","default":25,"format":"int32"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/CollectionResource«System User»"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}},"post":{"tags":["users"],"summary":"Create a user without account","description":"Supported starting from 2.2 version","operationId":"createUsingPOST_10","consumes":["application/vnd.zoomdata.v1+json","application/vnd.zoomdata+json"],"produces":["application/vnd.zoomdata.v1+json","application/vnd.zoomdata+json"],"parameters":[{"in":"body","name":"resource","description":"resource","required":true,"schema":{"$ref":"#/definitions/System User"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/System User"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/users/email/{email}":{"get":{"tags":["users"],"summary":"Retrieve a user by email","description":"Supported starting from 2.0 version","operationId":"getUserByEmailUsingGET","consumes":["application/json"],"produces":["application/vnd.zoomdata.v1+json","application/vnd.zoomdata+json"],"parameters":[{"name":"email","in":"path","description":"email","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/System User"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/users/username/{username}":{"get":{"tags":["users"],"summary":"Retrieve a user by username","description":"Supported starting from 2.0 version","operationId":"getUserByUsernameUsingGET","consumes":["application/json"],"produces":["application/vnd.zoomdata.v1+json","application/vnd.zoomdata+json"],"parameters":[{"name":"username","in":"path","description":"username","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/System User"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/users/{id}":{"get":{"tags":["users"],"summary":"Retrieve a user","description":"Supported starting from 2.0 version","operationId":"getUserUsingGET","consumes":["application/json"],"produces":["application/vnd.zoomdata.v1+json","application/vnd.zoomdata+json"],"parameters":[{"name":"id","in":"path","description":"id","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/System User"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}},"put":{"tags":["users"],"summary":"Update a user","description":"Supported starting from 2.0 version","operationId":"updateUsingPUT_6","consumes":["application/vnd.zoomdata.v1+json","application/vnd.zoomdata+json"],"produces":["application/vnd.zoomdata.v1+json","application/vnd.zoomdata+json"],"parameters":[{"name":"id","in":"path","description":"id","required":true,"type":"string"},{"in":"body","name":"resource","description":"resource","required":true,"schema":{"$ref":"#/definitions/System User"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/System User"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}},"delete":{"tags":["users"],"summary":"Delete a user","description":"Supported starting from 2.0 version","operationId":"deleteUsingDELETE_8","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"id","in":"path","description":"id","required":true,"type":"string"}],"responses":{"200":{"description":"OK"},"401":{"description":"Unauthorized"},"204":{"description":"No Content"},"403":{"description":"Forbidden"}}}},"/api/users/{id}/filter-sets":{"get":{"tags":["filter-sets"],"summary":"Retrieve the filter sets for a user","description":"Supported starting from 2.2 version","operationId":"getUserFilterSetsUsingGET","consumes":["application/json"],"produces":["application/vnd.zoomdata.v1+json","application/vnd.zoomdata.v1_1+json","application/vnd.zoomdata+json"],"parameters":[{"name":"id","in":"path","description":"id","required":true,"type":"string"},{"name":"start","in":"query","description":"start","required":false,"type":"integer","format":"int32"},{"name":"limit","in":"query","description":"limit","required":false,"type":"integer","default":25,"format":"int32"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/CollectionResource«Attribute Filter Set»"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/users/{userId}/accounts":{"get":{"tags":["users"],"summary":"Retrieve a user's account memberships","description":"Supported starting from 2.2 version","operationId":"getUserAccountsUsingGET","consumes":["application/json"],"produces":["application/vnd.zoomdata.v1+json","application/vnd.zoomdata+json"],"parameters":[{"name":"userId","in":"path","description":"userId","required":true,"type":"string"},{"name":"start","in":"query","description":"start","required":false,"type":"integer","format":"int32"},{"name":"limit","in":"query","description":"limit","required":false,"type":"integer","default":25,"format":"int32"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/CollectionResource«User configuration within each account»"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/users/{userId}/dashboards":{"get":{"tags":["dashboard"],"summary":"Retrieve the dashboards that a user has created","description":"Supported starting from 2.2 version","operationId":"getUserDashboardsUsingGET","consumes":["application/json"],"produces":["application/vnd.zoomdata.v1+json","application/vnd.zoomdata+json"],"parameters":[{"name":"userId","in":"path","description":"userId","required":true,"type":"string"},{"name":"start","in":"query","description":"start","required":false,"type":"integer","format":"int32"},{"name":"limit","in":"query","description":"limit","required":false,"type":"integer","default":25,"format":"int32"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/CollectionResource«Dashboard»"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/users/{userId}/groups":{"get":{"tags":["groups"],"summary":"Retrieve a user's group memberships","description":"Supported starting from 2.0 version","operationId":"getUserGroupsUsingGET","consumes":["application/json"],"produces":["application/vnd.zoomdata.v1+json","application/vnd.zoomdata+json"],"parameters":[{"name":"userId","in":"path","description":"userId","required":true,"type":"string"},{"name":"start","in":"query","description":"start","required":false,"type":"integer","format":"int32"},{"name":"limit","in":"query","description":"limit","required":false,"type":"integer","default":25,"format":"int32"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/CollectionResource«Group»"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}}},"securityDefinitions":{"Zoomdata Basic Auth":{"type":"basic"}},"definitions":{"User configuration within each account":{"type":"object","properties":{"administrator":{"type":"boolean","description":"Flag to indicate whether this user account is an administrator"},"created":{"description":"Details about who created this resource and when","readOnly":true,"$ref":"#/definitions/AuditableReference"},"current":{"type":"boolean","description":"Flag to indicate whether this account should be set to the active account of the user"},"enabled":{"type":"boolean","description":"Flag to indicate whether this user is active within this account"},"lastModified":{"description":"Details about the last user who updated this resource and when","readOnly":true,"$ref":"#/definitions/AuditableReference"},"links":{"type":"array","items":{"$ref":"#/definitions/Link"}},"reference":{"$ref":"#/definitions/A reference to another resource in the system."}}},"Group":{"type":"object","required":["name"],"properties":{"created":{"description":"Details about who created this resource and when","readOnly":true,"$ref":"#/definitions/AuditableReference"},"description":{"type":"string","description":"Description of the group"},"lastModified":{"description":"Details about the last user who updated this resource and when","readOnly":true,"$ref":"#/definitions/AuditableReference"},"links":{"type":"array","items":{"$ref":"#/definitions/Link"}},"name":{"type":"string","description":"Name of the group"},"permissions":{"type":"array","description":"Set of permissions that are assigned to users in this group","items":{"type":"string","enum":["create_data_sources","save_filters","save_charts","share_charts","edit_calculations"]}}}},"CollectionResource«Connection Type»":{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#/definitions/Connection Type"}},"links":{"type":"array","items":{"$ref":"#/definitions/Link"}}}},"An individual field in a data source":{"type":"object","required":["label","sourceName","type","visible"],"properties":{"func":{"type":"string","description":"Field function. Available for money, number and integers fields"},"label":{"type":"string","description":"The user-facing label of this field"},"sourceName":{"type":"string","description":"The name of this field in the data source","readOnly":true},"type":{"type":"string","description":"Field type","enum":["attribute","money","number","integer","time","text","none"]},"visible":{"type":"boolean","description":"Whether this field is visible in charts or not"}}},"A request to add a group to a datasource":{"type":"object","properties":{"canEdit":{"type":"boolean","description":"Indicates if members of this group can edit the referenced source"},"canRemove":{"type":"boolean","description":"Indicates if members of this group can delete the referenced source"},"fieldSecurity":{"description":"If specified, configures the list of fields that are visible to users in this group","$ref":"#/definitions/Group Source Field Security Configuration"},"filters":{"type":"array","description":"Filters that will be applied to the source data for members of this group","items":{"$ref":"#/definitions/Source Attribute Filter"}},"source":{"description":"A reference to a data source","$ref":"#/definitions/A reference to another resource in the system."}}},"CollectionResource«OAuth2 token»":{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#/definitions/OAuth2 token"}},"links":{"type":"array","items":{"$ref":"#/definitions/Link"}}}},"CollectionResource«System User»":{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#/definitions/System User"}},"links":{"type":"array","items":{"$ref":"#/definitions/Link"}}}},"CollectionResource«System Account»":{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#/definitions/System Account"}},"links":{"type":"array","items":{"$ref":"#/definitions/Link"}}}},"Connection Object":{"type":"object","properties":{"description":{"type":"string","description":"Short description of this object"}},"description":"A connection object is a specific SQL table, Elastic index, Solr core etc for a specific data source connection.  In addition to the description, each connection object will have connection specific fields that correspond to the _sourceParameter_ values for that connector"},"Dashboard":{"type":"object","required":["name"],"properties":{"created":{"description":"Details about who created this resource and when","readOnly":true,"$ref":"#/definitions/AuditableReference"},"description":{"type":"string","description":"Description of the dashboard"},"lastModified":{"description":"Details about the last user who updated this resource and when","readOnly":true,"$ref":"#/definitions/AuditableReference"},"links":{"type":"array","items":{"$ref":"#/definitions/Link"}},"name":{"type":"string","description":"Name of the dashboard"},"shareState":{"type":"string","description":"Dashboard share state","enum":["NOT_SHARED","VIEW_ONLY","VIEW_AND_EDIT"]},"shared":{"type":"boolean","description":"Deprecated. True if this dashboard is visible to all users in your account."}}},"Data Source Connection":{"type":"object","required":["connectorName","connectorParameters","name"],"properties":{"connectorName":{"type":"string","description":"Data source connector name"},"connectorParameters":{"type":"object","description":"Data source connection properties","additionalProperties":{"type":"string"}},"created":{"description":"Details about who created this resource and when","readOnly":true,"$ref":"#/definitions/AuditableReference"},"impersonationSettings":{"type":"object","description":"Data source impersonation settings","additionalProperties":{"type":"string"}},"lastModified":{"description":"Details about the last user who updated this resource and when","readOnly":true,"$ref":"#/definitions/AuditableReference"},"links":{"type":"array","items":{"$ref":"#/definitions/Link"}},"name":{"type":"string","description":"Name of the connection"}}},"CollectionResource«EDC Connector Server»":{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#/definitions/EDC Connector Server"}},"links":{"type":"array","items":{"$ref":"#/definitions/Link"}}}},"Data Source Connector":{"type":"object","required":["name"],"properties":{"connectionParameters":{"type":"array","description":"Parameters this connector uses when creating a connection","items":{"$ref":"#/definitions/Parameter used when creating a connection"}},"impersonationParameters":{"type":"array","description":"Parameters this connector uses when creating a connection with impersonation","items":{"$ref":"#/definitions/Parameter used when creating a connection"}},"name":{"type":"string","description":"Name of this connector"},"sourceParameters":{"type":"array","description":"Parameters this connector uses when creating a source","items":{"$ref":"#/definitions/Parameter used when creating a connection"}}},"description":"Connectors represent the type of data sources that we can connect to. The type of connector and its parameters will be used to create a connection resource"},"OAuth2 client application record":{"type":"object","properties":{"accessTokenValiditySeconds":{"type":"integer","format":"int32","description":"Access token validity interval in seconds"},"autoApprove":{"type":"boolean","description":"Explicit approval not required"},"clientId":{"type":"string","description":"Client identifier, also client secret","readOnly":true},"clientName":{"type":"string","description":"Client name"},"links":{"type":"array","items":{"$ref":"#/definitions/Link"}},"registeredRedirectURIs":{"type":"array","description":"Registered redirect URIs","items":{"type":"string"}}}},"Source Attribute Filter":{"type":"object","required":["sourceFieldName","type"],"properties":{"sourceFieldName":{"type":"string","description":"The name of the source field to filter on"},"type":{"type":"string","description":"The type of filter to apply","enum":["in","notin","eq","neq","ge","gt","le","lt","between"]},"value":{"type":"string","description":"The value applied to the filter.  Used for eq/neq/le/lt/ge/gt filter types"},"values":{"type":"array","description":"The values applied to the filter.  Used for in/notin/between filter types","items":{"type":"string"}}}},"OAuth2 token":{"type":"object","properties":{"expiration":{"type":"string","format":"date-time","description":"Expiration time","readOnly":true},"links":{"type":"array","items":{"$ref":"#/definitions/Link"}},"tokenValue":{"type":"string","description":"Token value","readOnly":true}}},"Status of EDC Connector Server":{"type":"object","required":["status"],"properties":{"status":{"type":"string","description":"status of edc connector"}}},"CollectionResource«Group Member»":{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#/definitions/Group Member"}},"links":{"type":"array","items":{"$ref":"#/definitions/Link"}}}},"parameter of connection type":{"type":"object","required":["label","name","required","type"],"properties":{"allowedValues":{"type":"array","description":"list of allowed values for parameter","items":{"type":"string"}},"description":{"type":"string","description":"helper text of the parameter"},"label":{"type":"string","description":"label of parameter that will be displayed on ui"},"name":{"type":"string","description":"key of connection type parameter that should be sent to EDC"},"required":{"type":"boolean","description":"whether parameter is required"},"type":{"type":"string","description":"value type of the connection parameter"},"visible":{"type":"boolean","description":"whether parameter is visible in UI when creating connection"}}},"Time Control Configuration":{"type":"object","required":["from","timeField","to"],"properties":{"from":{"type":"string","description":"from"},"links":{"type":"array","items":{"$ref":"#/definitions/Link"}},"pinned":{"type":"boolean","description":"pinned"},"timeField":{"type":"string","description":"timeField"},"to":{"type":"string","description":"to"}}},"Connection Type":{"type":"object","required":["name","storageType"],"properties":{"created":{"description":"Details about who created this resource and when","readOnly":true,"$ref":"#/definitions/AuditableReference"},"enabled":{"type":"boolean","description":"Is connection type enabled"},"lastModified":{"description":"Details about the last user who updated this resource and when","readOnly":true,"$ref":"#/definitions/AuditableReference"},"links":{"type":"array","items":{"$ref":"#/definitions/Link"}},"maxSupportedVersion":{"type":"string","description":"Maximum Supported Version"},"minSupportedVersion":{"type":"string","description":"Minimum Supported Version"},"name":{"type":"string","description":"Name of the connection type"},"parameters":{"type":"array","description":"List of connection parameters","items":{"$ref":"#/definitions/parameter of connection type"}},"storageType":{"type":"string","description":"Storage Type of the connection type"}}},"New System Account":{"type":"object","required":["name"],"properties":{"enabled":{"type":"boolean","description":"Status of the account"},"name":{"type":"string","description":"Name of the account"},"user":{"description":"New admin user for created account","$ref":"#/definitions/System User"},"users":{"type":"array","description":"List of admin user identifiers or self URI for created account","items":{"$ref":"#/definitions/A reference to another resource in the system."}}}},"CollectionResource«OAuth2 client application record»":{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#/definitions/OAuth2 client application record"}},"links":{"type":"array","items":{"$ref":"#/definitions/Link"}}}},"Minimal User Representation":{"type":"object","properties":{"links":{"type":"array","items":{"$ref":"#/definitions/Link"}},"username":{"type":"string","description":"Username","readOnly":true}}},"Group Source Field Security Configuration":{"type":"object","properties":{"enabledFields":{"type":"array","description":"The list of fields that are visible to users in this group","items":{"type":"string"}}}},"A reference to another resource in the system.":{"type":"object","required":["ref"],"properties":{"ref":{"type":"string","description":"Reference value"}}},"CollectionResource«Attribute Filter Set»":{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#/definitions/Attribute Filter Set"}},"links":{"type":"array","items":{"$ref":"#/definitions/Link"}}}},"CollectionResource«User configuration within each account»":{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#/definitions/User configuration within each account"}},"links":{"type":"array","items":{"$ref":"#/definitions/Link"}}}},"CollectionResource«Group»":{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#/definitions/Group"}},"links":{"type":"array","items":{"$ref":"#/definitions/Link"}}}},"System Account":{"type":"object","required":["name"],"properties":{"created":{"description":"Details about who created this resource and when","readOnly":true,"$ref":"#/definitions/AuditableReference"},"enabled":{"type":"boolean","description":"Status of the account"},"lastModified":{"description":"Details about the last user who updated this resource and when","readOnly":true,"$ref":"#/definitions/AuditableReference"},"links":{"type":"array","items":{"$ref":"#/definitions/Link"}},"name":{"type":"string","description":"Name of the account"}}},"CollectionResource«Dashboard»":{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#/definitions/Dashboard"}},"links":{"type":"array","items":{"$ref":"#/definitions/Link"}}}},"Attribute Filter Set":{"type":"object","properties":{"created":{"description":"Details about who created this resource and when","readOnly":true,"$ref":"#/definitions/AuditableReference"},"filters":{"type":"array","description":"List of filters in this set","items":{"$ref":"#/definitions/Source Attribute Filter"}},"lastModified":{"description":"Details about the last user who updated this resource and when","readOnly":true,"$ref":"#/definitions/AuditableReference"},"links":{"type":"array","items":{"$ref":"#/definitions/Link"}},"name":{"type":"string","description":"Name of the filter set"},"shared":{"type":"boolean","description":"True if this filter set is visible to all users in your account"}}},"EDC Connector Server":{"type":"object","required":["name","protocol"],"properties":{"connectionParameters":{"type":"object","description":"Connection parameters for connector","additionalProperties":{"type":"string"}},"created":{"description":"Details about who created this resource and when","readOnly":true,"$ref":"#/definitions/AuditableReference"},"description":{"type":"string","description":"Description of the connector"},"lastModified":{"description":"Details about the last user who updated this resource and when","readOnly":true,"$ref":"#/definitions/AuditableReference"},"links":{"type":"array","items":{"$ref":"#/definitions/Link"}},"name":{"type":"string","description":"Name of the connector"},"protocol":{"type":"string","description":"Protocol by which to communicate with connector"}}},"CollectionResource«Data source configuration for a group»":{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#/definitions/Data source configuration for a group"}},"links":{"type":"array","items":{"$ref":"#/definitions/Link"}}}},"CollectionResource«Data Source Connection»":{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#/definitions/Data Source Connection"}},"links":{"type":"array","items":{"$ref":"#/definitions/Link"}}}},"Parameter used when creating a connection":{"type":"object","required":["name"],"properties":{"description":{"type":"string","description":"Description of the parameter"},"name":{"type":"string","description":"Parameter name"},"required":{"type":"boolean","description":"Indicates whether this parameter is required to create the target connection"}}},"Data Source":{"type":"object","required":["name","sourceParameters"],"properties":{"cacheable":{"type":"boolean","description":"True if the results from aggregated queries will be cached"},"created":{"description":"Details about who created this resource and when","readOnly":true,"$ref":"#/definitions/AuditableReference"},"dataRefreshCronExpression":{"type":"string","description":"Cron expression that determines how often new data will be be available in charts"},"description":{"type":"string","description":"Description"},"lastModified":{"description":"Details about the last user who updated this resource and when","readOnly":true,"$ref":"#/definitions/AuditableReference"},"links":{"type":"array","items":{"$ref":"#/definitions/Link"}},"live":{"type":"boolean","description":"True if this data source is live"},"liveRefreshRate":{"type":"integer","format":"int32","description":"Refresh rate in time granularity units for live playing mode"},"name":{"type":"string","description":"Name of the data source"},"sourceParameters":{"type":"object","description":"Data source properties","additionalProperties":{"type":"string"}},"sparked":{"type":"boolean","description":"True if this data source will be loaded in to Spark"}}},"Group Member":{"type":"object","properties":{"links":{"type":"array","items":{"$ref":"#/definitions/Link"}},"user":{"$ref":"#/definitions/System User"}}},"Data source configuration for a group":{"type":"object","properties":{"canEdit":{"type":"boolean","description":"Indicates if members of this group can edit the referenced source"},"canRemove":{"type":"boolean","description":"Indicates if members of this group can delete the referenced source"},"fieldSecurity":{"description":"If specified, configures the list of fields that are visible to users in this group","$ref":"#/definitions/Group Source Field Security Configuration"},"filters":{"type":"array","description":"Filters that will be applied to the source data for members of this group","items":{"$ref":"#/definitions/Source Attribute Filter"}},"links":{"type":"array","items":{"$ref":"#/definitions/Link"}},"source":{"description":"The data source","$ref":"#/definitions/Data Source"}}},"AuditableReference":{"type":"object","properties":{"by":{"description":"User who performed the action","readOnly":true,"$ref":"#/definitions/Minimal User Representation"},"on":{"type":"string","format":"date-time","description":"Date the action was performed","readOnly":true}}},"CollectionResource«Data Source»":{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#/definitions/Data Source"}},"links":{"type":"array","items":{"$ref":"#/definitions/Link"}}}},"Link":{"type":"object","properties":{"href":{"type":"string"},"rel":{"type":"string"},"templated":{"type":"boolean"}}},"System User":{"type":"object","required":["username"],"properties":{"administrator":{"type":"boolean","description":"Flag to indicate whether this user account is an administrator in their active account. Deprecated, will not be supported starting from 2.4 version"},"created":{"description":"Details about who created this resource and when","readOnly":true,"$ref":"#/definitions/AuditableReference"},"email":{"type":"string","description":"Email Address"},"enabled":{"type":"boolean","description":"Flag to indicate whether this user account is active in their active account"},"fullName":{"type":"string","description":"Display name"},"lastModified":{"description":"Details about the last user who updated this resource and when","readOnly":true,"$ref":"#/definitions/AuditableReference"},"links":{"type":"array","items":{"$ref":"#/definitions/Link"}},"password":{"type":"string","description":"User password. This value is 'write-only' and will not be returned from the API.  You may provide the password when creating or updating a user.  Omit the password if you do not wish to set it."},"username":{"type":"string","description":"Username"}}}}}